{% extends 'base.html' %}

{% block head %}
<style>
body {
    background: linear-gradient(to bottom right, #FFB6C1, #FFD700);
    color: #2E3A59;
}
</style>
{% endblock %}
{% block body %}
<center>
    <br>
    <br>
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Login</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post" action="/login">

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            <input type="text" name="username" id="username"required>
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            <input type="password" id="password" name="password" required>
        </div>


        <button class="py-4 px-8 text-lg bg-blue-600 hover:bg-blue-800 rounded-xl text-white" type="submit">Submit</button>
    </form>
    <br>
    <h2 class="form-title">New here? <a href="/signup">Sign up</a> now:</h2>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>

</center>
{% endblock %}